@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
body { font-family: 'Roboto', sans-serif; padding-bottom: 60px; }
.bg-00a859 { background-color: #00a859 !important; }
.text-00a859 { color: #00a859 !important; }
.btn-00a859 { background-color: #00a859; color: #fff; border: none; }
.btn-00a859:hover { background-color: #007a43; }
.nav-link { font-weight: 500; }
.group { position: relative; }
.group-hover\:opacity-100 { transition: opacity .2s; }
.group:hover .group-hover\:opacity-100 { opacity: 1 !important; background: #000000cc; margin-top: 0 !important; border-radius: 0px 8px;z-index: 9; padding: 5px 10px !important; right: 4px !important; }
